body {
    color: rgba(0, 0, 0, 0.9);
    font-family: "Alegreya Sans", serif;
    line-height: 1.33;
    padding: 2em;

    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
}

@media (min-width: 45em) {
    body {
        font-size: 1.1em;
        padding: 0 5%;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main p {
    text-align: left;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
    min-height: 90vh
}

#intro h1 {
    margin-top: 0;
    margin-bottom: 0;
}

#intro .name {
    display: block;
    font-size: 3em;
    font-weight: bold;
    line-height: 1;
}
